<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.ackoujens.androidtesting">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AndroidTesting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LifeCycle"         android:label="Life Cycle"          android:configChanges="keyboard|keyboardHidden|orientation" />
        <activity android:name=".SingleTouch"       android:label="Single Touch"        android:configChanges="keyboard|keyboardHidden|orientation" />
        <activity android:name=".MultiTouch"        android:label="Multi Touch"         android:configChanges="keyboard|keyboardHidden|orientation" />
        <activity android:name=".Key"               android:label="Key"                 android:configChanges="keyboard|keyboardHidden|orientation" />
        <activity android:name=".Accelerometer"     android:label="Accelerometer"       android:configChanges="keyboard|keyboardHidden|orientation" />
        <activity android:name=".Assets"            android:label="Assets"              android:configChanges="keyboard|keyboardHidden|orientation" />
        <activity android:name=".ExternalStorage"   android:label="External Storage"    android:configChanges="keyboard|keyboardHidden|orientation" />
        <activity android:name=".SharedPreference"  android:label="Shared Preference"   android:configChanges="keyboard|keyboardHidden|orientation" />
        <activity android:name=".Sound"             android:label="Sound Pool"          android:configChanges="keyboard|keyboardHidden|orientation" />
        <activity android:name=".MusicPlayer"       android:label="Music Player"        android:configChanges="keyboard|keyboardHidden|orientation" />
        <activity android:name=".WakeLocks"         android:label="Wake Locks"          android:configChanges="keyboard|keyboardHidden|orientation" />
        <activity android:name=".FullScreen"        android:label="Full Screen"         android:configChanges="keyboard|keyboardHidden|orientation" />
        <activity android:name=".CustomRenderView"  android:label="Custom Render View"  android:configChanges="keyboard|keyboardHidden|orientation" />
        <activity android:name=".Shape"             android:label="Shape"               android:configChanges="keyboard|keyboardHidden|orientation" />
        <activity android:name=".BitmapDraw"        android:label="BitmapDraw"          android:configChanges="keyboard|keyboardHidden|orientation" />
        <activity android:name=".Font"              android:label="Font"                android:configChanges="keyboard|keyboardHidden|orientation" />
        <activity android:name=".SurfaceViewRender" android:label="Surface View"        android:configChanges="keyboard|keyboardHidden|orientation" />
    </application>

</manifest>
