<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.ackoujens.androidtesting">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AndroidTesting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LifeCycle" android:label="Life Cycle"     android:configChanges="keyboard|keyboardHidden|orientation" />
        <activity android:name=".SingleTouch" android:label="Single Touch" android:configChanges="keyboard|keyboardHidden|orientation" />
        <activity android:name=".MultiTouch" android:label="Multi Touch"   android:configChanges="keyboard|keyboardHidden|orientation" />
    </application>

</manifest>
